[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Babel = ">=2.4.0"
Flask-BabelEx = ">=0.9.3"
invenio = {version = "==3.3.0,<3.4.0",extras = ["base", "auth", "metadata", "files", "postgresql", "elasticsearch7" ]}
marshmallow = ">=3.0.0,<4.0.0"
uwsgi = ">=2.0"
uwsgi-tools = ">=1.1.1"
uwsgitop = ">=0.11"
fare = {editable = true,path = "."}
python-dotenv = ">=0.14.0"
bigbluebutton-api-python = {editable = true,git = "https://github.com/101t/bigbluebutton-api-python"}
# nbconvert and importlib-metadata added temporarily
nbconvert = {extras = ["execute"],version = ">=4.1.0,<6.0.0"}
importlib-metadata = "==3.0.0"

[dev-packages]
check-manifest = ">=0.35"
coverage = ">=4.4.1"
Flask-Debugtoolbar = ">=0.10.1"
isort = ">=4.3"
mock = ">=2.0.0"
pydocstyle = ">=2.0.0"
pytest = ">=3.3.1"
pytest-cov = ">=2.5.1"
pytest-invenio = ">=1.2.1,<1.3.0"
pytest-mock = ">=1.6.0"
pytest-pep8 = ">=1.0.6"
pytest-random-order = ">=0.5.4"
pytest-runner = ">=3.0.0,<5"
Sphinx = ">=1.5.1"

[requires]
python_version = "3.6"

[scripts]
test = "python setup.py test"
build_sphinx = "python setup.py build_sphinx"
# prereleases allowed because of this https://github.com/celery/pytest-celery/issues/4

[pipenv]
allow_prereleases = true
