<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"><hr /></div>
    </div>
    <div class="row">
      <div>
        {%- if config.I18N_LANGUAGES %}
        {% from "invenio_i18n/macros/language_selector.html" import language_selector_dropdown %}
        {{ language_selector_dropdown() }}
        {%- endif %}
      </div>

      <div class="col-xs-4">
        <p style="text-align: center">
          <b>Chi siamo</b>
          <br><br>
          <a href="https://openeducation.polito.it/">Open Education Polito</a>
        </p>
      </div>

      <div class="col-xs-4">
        <p style="text-align: center">
          <b>Note Legali</b>
          <br><br>
          <a href="https://www.polito.it/privacy/">Privacy</a>
          <br>
          <a href="https://fare.polito.it/tos">Condizioni di Servizio</a>
        </p>
      </div>

      <div class="col-xs-4">
        <p style="text-align: center">
          <b>Credits</b>
        </p>
        <img src="{{ url_for('static', filename='images/logo_polito_black.png') }}" style="width:30%;height:30%;display:block;margin-left:auto;margin-right:auto;" alt="Logo Polito"/>
        <br>
        <p style="text-align: center">
          Handcrafted @ <a href="https://www.polito.it">Politecnico di Torino</a>
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <p style="text-align: center">
        Copyright (C) 2020 - Politecnico di Torino
      </p>
      <p style="text-align: center">
        {% trans link="http://inveniosoftware.org" %}Powered by <a href="{{link}}">Invenio</a>{% endtrans %}
      </p>
    </div>
  </div>
</footer>
