{%- extends "invenio_theme/header_frontpage.html" %}

{%- block navbar %}
  <div class="frontpage-navbar">
    {{ super() }}
  </div>
{%- endblock navbar %}

{%- block frontpage_title %}
    {{ super() }}
    <h3 class="text-center frontpage-subtitle">
      Esplora migliaia di contenuti didattici con licenza Creative Commons,
      collabora caricando il tuo materiale,
      impara con materiale selezionato
    </h3>
{%- endblock frontpage_title %}

{%- block navbar_inner %}

  <div class="col-sm-2 text-center button-menu">
     <a class="btn btn-default">Guida</a>
  </div>

  <div class="col-sm-2 text-center button-menu">
     <a class="btn btn-default" href="https://github.com/open-education-polito/fare-platform">Github</a>
  </div>

  <div class="col-sm-2 text-center button-menu">
     <a class="btn btn-default" href="https://openeducation.polito.it/">About</a>
  </div>

  <div class="col-sm-2 text-center button-menu">
     <a class="btn btn-default">Corsi completi</a>
  </div>

  {{ super() }}

{%- endblock navbar_inner %}
