{%- extends "invenio_theme/header_frontpage.html" %}

{%- block navbar %}
  <div class="frontpage-navbar">
    {{ super() }}
  </div>
{%- endblock navbar %}

{%- block frontpage_title %}
    {{ super() }}
    <h3 class="text-center frontpage-subtitle">
      Esplora migliaia di contenuti didattici con licenza Creative Commons,
      collabora caricando il tuo materiale,
      impara con materiale selezionato
    </h3>
{%- endblock frontpage_title %}

{%- block frontpage_form %}
  {{ super() }}
  <a type="button" class="btn btn-default btn-xs" href="{{ url_for('file_management.advanced_search') }}" role="button">Ricerca avanzata</a>
{%- endblock frontpage_form %}

{%- block navbar_inner %}

  <ul class="nav navbar-nav">

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <b class="frontpage-menu-item"> Guide <span class="caret"></span></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_for('file_management.retrieve_guide_search') }}">Ricerca</a></li>
        <li><a href="{{ url_for('file_management.retrieve_guide_upload') }}">Caricamento file</a></li>
        <li><a href="{{ url_for('file_management.retrieve_guide_permissions') }}">Permessi utente</a></li>
      </ul>
    </li>

    <li><a href="https://openeducation.polito.it/"><b class="frontpage-menu-item">Chi siamo</b></a></li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <b class="frontpage-menu-item"> Stanze Virtuali <span class="caret"></span></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ url_for('conference.join_room') }}">Partecipa</a></li>
      </ul>
    </li>

  </ul>

  {{ super() }}

{%- endblock navbar_inner %}
