{%- extends config.BASE_TEMPLATE %}

{% block page_body %}

<h1 class="text-center">Guida alla ricerca del materiale su FARE</h1>

<div class="container">

<p>
  E' possibile effettuare ricerche per parole chiave.
  Una parola chiave potrebbe essere il titolo con cui è stato caricato il materiale,
  il nome di un autore (esempio: Mezzalama), il nome di una disciplina (esempio Informatica),
  un argomento, l'ordine di scuola (esempio Scuola Secondaria di secondo grado) e infine la licenza
  Creative Commons. E’ possibile effettuare una ricerca per le seguenti discipline:
</p>

    <table class="table table-bordered table-striped">
      <tbody>
      {% for sub in subjects['subject'] %}
        {% if loop.index0 % 3 == 0 %}
        <tr>
        {% endif %}
          <td>
            {{ sub }}
          </td>
        {% if loop.index0 % 3 == 2 or loop.last %}
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>

<p>
  le classi di insegnamento sono:
</p>

    <table class="table table-bordered table-striped">
      <tbody>
      {% for level in education_levels['educationLevel'] %}
        {% if loop.index0 % 3 == 0 %}
        <tr>
        {% endif %}
          <td>
            {{ level }}
          </td>
        {% if loop.index0 % 3 == 2 or loop.last %}
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>

<p>
  Di seguito è mostrato il risultato di una ricerca
</p>

<img class="guide-image-large" src="{{ url_for('static', filename='images/example_record_search.png') }}" alt="Research_result"/>

<p>
  Selezionando il titolo di uno dei risultati si potranno visualizzare tutti i dettagli dell’argomento:
  è indicata la classe di insegnamento, la disciplina, l’argomento, gli autori del materiale, sono indicate
  le informazioni relative alla licenza Creative Commons con cui è stato caricato il file
  (per maggiori informazioni sulle licenze Creative Commons cliccare
  <a href="https://creativecommons.it/chapterIT/">qui</a> <i class="fa fa-external-link" aria-hidden="true"></i> ).
  Infine, è possibile effettuare il download cliccando sul pulsante
  <button class="btn btn-primary">
    <i class="fa fa-download" aria-hidden="true"></i> Download
  </button>
</p>

<img class="guide-image-large" src="{{ url_for('static', filename='images/example_record_page.png') }}" alt="Record_page"/>

</div>

{{ webpack['guide.css'] }}

{% endblock page_body %}
