{%- extends config.BASE_TEMPLATE %}

{% block page_body %}

<h1 class="text-center">
  Carica il materiale
</h1>

<br><br><br><br>

<div class="container">

  {% if not current_user.is_authenticated %}

    <div class="col-sm-3">
    </div>

    <div class="col-sm-6 text-center">
      <div class="alert alert-info" role="alert">
        <h4>
          Per poter visualizzare questa pagina devi accedere con il tuo account su FARE,
          se non ne hai uno crealo registrandoti. Puoi accedere o registrarti a FARE
          tramite i pulsanti in alto a destra
        </h4>
      </div>
    </div>

    <div class="col-sm-3">
    </div>

  {% endif %}

</div>

{% endblock page_body %}
