{%- extends config.BASE_TEMPLATE %}

{% block page_body %}

{%- block page_header %}
{%- endblock page_header %}

<header>
  {%- block navbar %}
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      {%- block navbar_header %}
      <div class="navbar-header">
        {%- block brand %}
        {%- if config.THEME_LOGO %}
          <a href="/"><img class="navbar-brand" src="{{ url_for('static', filename=config.THEME_LOGO)}}" alt="{{_(config.THEME_SITENAME)}}" /></a>
        {%- else %}
          <a class="navbar-brand" href="/">{{_(config.THEME_SITENAME)}}</a>
        {%- endif %}
        {%- endblock %}
      </div>
      {%- endblock navbar_header %}
    </div>
  </nav>
  {%- endblock navbar %}
</header>

<div class="container">
  <div class="element-block">

    <h1 class="text-center">
      Carica il materiale
    </h1>

    <br>

    {% if not current_user.is_authenticated %}

    <div class="row">

      <div class="col-sm-3">
      </div>

      <div class="col-sm-6 text-center">

        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
              <h4>
                Per accedere ai servizi di FARE occorre in primo luogo "registrarsi" ossia trasmettere
                a FARE il proprio indirizzo di posta elettronica e una proposta di password.
                Questa registrazione si ottiene cliccando sul pulsante  chiamato "Registrati".
                <br>
                Se ti sei già registrato oggi o in qualunque altro momento, non serve una nuova registrazione.
                <br>
                Se sei già registrato puoi procedere all'installazione di un nuovo oggetto didattico premendo
                il tasto chiamato "Accedi".
                <br>
                Il nuovo oggetto sarà sottoposto all'attenzione dell'amministrazione del sistema. Solo dopo
                l'approvazione dell'amministrazione quell'oggetto sarà caricato nell'archivio di FARE
              </h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <a href="{{url_for_security('login', next=request.path)}}" class="btn btn-default btn-lg">
              <i class="fa fa-sign-in"></i> Accedi
            </a>
            <a href="{{url_for_security('register')}}" type="submit" class="btn btn-default btn-warning btn-lg">
              <i class="fa fa-edit"></i> Registrati
            </a>
          </div>
        </div>

      </div>

      <div class="col-sm-3">
      </div>

    </div>

    {% endif %}

  </div>
</div>

{% endblock page_body %}
