{%- extends config.BASE_TEMPLATE %}


{% block page_body %}

{% if records_list|length == 0 %}

  <h3 id="no-files">Al momento non hai caricato nessun file</h3>

{% else %}

  <div class="container">

    {% for record in records_list %}

    <div class="element-block">

      <div class="row">

        <div class="col-md-8">
          <span class="label label-primary">{{ record['educationLevel'] }}</span>
          <span class="label label-success">{{ record['subject'] }}</span>

          {% if record['revisioned'] %}
            <h2><a href="/records/{{ record['id'] }}">{{ record['title'] }}</a></h2>
          {% else %}
            <h2>{{ record['title'] }}</h2>
          {% endif %}

          <hr/>

          <h5><b>Argomento:</b> {{ record['coverage'] }}</h5>
          <ul class="list-inline">
              <b>Autore/i:</b>
              {% for contributor in record['contributors'] %}
              <li>
                {{ contributor.name }};
              </li>
              {% endfor %}
          </ul>
          <h5><b>Licenza:</b> {{ record['license'] }}</h5>
        </div>


        <div id="label-div" class="col-md-4 text-center">
          <h3>
          {% if record['revisioned'] %}
            <span class="label label-info">pubblicato</span>
          {% else %}
            <span class="label label-danger">da revisionare</span>
          {% endif %}
          </h3>
        </div>

      </div>

    </div>

    <br>
    {% endfor %}

  </div>

{% endif %}

{{ webpack['status-files.css'] }}

{% endblock page_body %}
