{%- extends config.BASE_TEMPLATE %}

{% macro errors(field) %}
  {% if field.errors %}
  <span class="help-block">
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </span>
{% endmacro %}

{% block page_body %}
  <div class="container">
    <div class="row">
      <div class="row">
        <h2 class="text-center">Fai diventare un membro <b>Staff</b></h2>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <i class="fa fa-users fa-5x aria-hidden='true' create-file-icon"></i>
        </div>
        <div class="col-sm-4 text-center">
          <p>
            Dai la possibilità ad altri utenti di FARE di
            revisionare contenuti che aspettano di essere
            pubblicati sulla piattaforma, inserisci la mail
            nel box e premi il tasto <b>'Abilita'</b>
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <i class="fa fa-users fa-5x aria-hidden='true' create-file-icon"></i>
        </div>
      </div>

      <br><br><br><br>

      <div class="row">
        <div class="col-md-offset-3 col-md-6 well">
          <form action="{{ url_for('grant_roles.grant_staff') }}" method="POST">
            <div class="form-group {{ 'has-error' if form.email.errors }}">
              <label for="email">{{ form.email.label }}</label>
              {{ form.email(class_="form-control")|safe }}
              {{ errors(form.email) }}
            </div>
            {{ form.csrf_token }}
            {{ errors(form.csrf_token) }}
            <button type="submit" class="btn btn-warning">Abilita</button>
          </form>
        </div>
      </div>

    </div>

<br><br><br><br>

{% if current_user.has_role('admin')%}

<div class="row">
      <div class="row">
        <h2 class="text-center">Permesso per creare una stanza virtuale</h2>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <i class="fa fa-video-camera fa-5x aria-hidden='true' create-file-icon"></i>
        </div>
        <div class="col-sm-4 text-center">
          <p>
            Dai la possibilità ad altri utenti di FARE di
            creare una stanza virtuale nella quale svolgere
            le sue lezioni, inserisci la mail nel box e 
            premi il tasto <b>'Abilita'</b>
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <i class="fa fa-video-camera fa-5x aria-hidden='true' create-file-icon"></i>
        </div>
      </div>

      <br><br><br><br>

      <div class="row">
        <div class="col-md-offset-3 col-md-6 well">
          <form action="{{ url_for('grant_roles.grant_room_creator') }}" method="POST">
            <div class="form-group {{ 'has-error' if form.email.errors }}">
              <label for="email">{{ form.email.label }}</label>
              {{ form.email(class_="form-control")|safe }}
              {{ errors(form.email) }}
            </div>
            {{ form.csrf_token }}
            {{ errors(form.csrf_token) }}
            <button type="submit" class="btn btn-warning">Abilita</button>
          </form>
        </div>
      </div>

    </div>
         
{% endif %}

  </div>

{% endblock page_body %}
