{%- extends config.BASE_TEMPLATE %}

{% block page_body %}

<h1 class="text-center">
  Crea una videoconferenza/videolezione
</h1>

<br><br><br>

<div class="container">

  {% if current_user.is_authenticated %}

    {% if not current_user.has_role('roomCreator') or not current_user.has_role('admin') %}

      <div class="row">
        <div class="col-sm-12 text-center">
          <i class="fa fa-ban fa-5x aria-hidden='true' create-file-icon"></i>
        </div>
      </div>

      <br><br>

      <div class="row">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-6 text-center">
          <div class="alert alert-danger" role="alert">
            <h4>
              Non hai il permesso per creare una videoconferenza/videolezione
              clicca
              <a href="https://openeducation.polito.it/it/contatti">
                qui <i class="fa fa-external-link" aria-hidden="true"></i>
              </a>
              per contattarci e richiederlo
            </h4>
          </div>
        </div>

        <div class="col-sm-3">
        </div>

      </div>

    {% endif %}

  {% else %}

    <div class="col-sm-3">
    </div>

    <div class="col-sm-6 text-center">
      <div class="alert alert-info" role="alert">
        <h4>
          Per poter visualizzare questa pagina devi accedere con il tuo account su FARE,
          se non ne hai uno crealo registrandoti. Puoi accedere o registrarti a FARE
          tramite i pulsanti in alto a destra
        </h4>
      </div>
    </div>

    <div class="col-sm-3">
    </div>

  {% endif %}

</div>

{% endblock page_body %}
